*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#8d8a70;
    overflow-x:hidden;
}

body.locked{
    overflow:hidden;
    height:100vh;
}

/* ENVELOPE */

#envelopeSection{
    height:100vh;
    width:100%;
    overflow:hidden;
    cursor:pointer;
}

#envelope{
    width:100%;
    height:100%;
    object-fit:cover;

    animation:
        zoomIntro 3s ease forwards;
}


@keyframes zoomIntro{

    from{
        opacity:0;
        transform:scale(1.08);
    }

    to{
        opacity:1;
        transform:scale(1);
    }

}

/* INVITATION IMAGES */

.slide{
    width:100%;
    height:100vh;
    overflow:hidden;
}

.slide-s{
    width:100%;
    height: 100%;
    min-height:100vh;
}

.slide img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.slide-s img{
    width:100%;
    object-fit:cover;
    display:block;
}

/* COUNTDOWN */

.countdown-section{

    min-height:100vh;

    background-image:url("images/6.webp");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:0;
}

.countdown-content{

    width:100%;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;
}

.title{

    color:#fff;

    font-size:2rem;

    margin-bottom:8px;

    font-family:serif;
}

.event-date{

    color:#fff;

    font-size:.95rem;

    margin-bottom:20px;
}

.event-date-2{

    color:#fff;

    font-size:.9rem;

    margin-top:20px;
}

.countdown{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:12px;

    width:190px;
}

.box{

    width:90px;
    height:90px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);

    border-radius:16px;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;
}

.box span{

    color:#fff;

    font-size:1.8rem;

    font-weight:700;
}

.box small{

    color:#fff;

    margin-top:4px;

    font-size:.7rem;

    letter-spacing:1px;
}